body {
  margin: 0;
  font-family: "Gotu", sans-serif;
  background-color: rgb(252, 243, 234);
}

/* navbar starts */
header {
  background-color: rgb(252, 243, 234);
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100vw;
}

.container {
  /* width: 90%; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experiences {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px;
  background-color: rgb(252, 243, 234);
}
.text-content {
  max-width: 100%;
}
.text-content h2 {
  font-size: 36px;
  color: #333;
}
.text-content p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}
